.contacts {	
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 40px 0 100px 0;

	@include tablet {
		margin: 30px 0 60px 0;
	}

	@include mobile {
		margin: 30px 0 60px 0;
	}

	.contacts__info {
		align-self: flex-end;
		width: 100%;
		max-width: 840px;
		display: flex;
		flex-direction: column;
		gap: 30px;

		div {
			border-bottom: solid 1px $grey-70;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;

			@include mobile {
				grid-template-columns: 1fr;
				gap: 15px;
			}

			span {
				flex-grow: 2;
				@include regular-16-uppercase;
				color: $grey-40;
			}
			
			a {
				flex-grow: 2;
				max-width: 460px;
				@include regular-16-uppercase;
				color: $grey-70;
			}

			p {
				flex-grow: 2;
				max-width: 460px;
				@include regular-16-uppercase;
				color: $grey-70;
			}
		}
	}

	.contacts__map {
		margin-top: 100px;
		height: 400px;

		@include tablet {
			margin-top: 60px;
		}

		@include mobile {
			margin-top: 30px;
		}
	}
}