.description {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 80px;
	padding-bottom: 80px;	
	overflow: hidden;

	@include tablet_small {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	img {
		width: 100%;
		object-fit: cover;
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 40px;

		h2 {
			min-height: 76px;

			@include tablet_small {
				min-height: unset;
			}
		}

		h4 {
			min-height: 76px;
			@include medium-32-uppercase;
			color: $grey-70;

			span {
				color: $red-50;
			}

			@include tablet_small {
				min-height: unset;
			}
		}

		&:nth-child(2) {
			display: grid;
			row-gap: 40px;
			column-gap: 80px;
			grid-template-columns: 1fr 0.6fr;
			grid-template-areas:
				'column-1 column-2'
				'table table';
			
			div:nth-child(2) {
				grid-area: column-2;
			}

			div:nth-child(3) {
				grid-area: column-1;
			}

			h5 {
				margin-bottom: 12px;
				@include light-18-uppercase;
				color: $grey-70;
			}

			img {
				margin-bottom: 20px;
			}

			p {
				margin-bottom: 20px;
				@include light-16;
				color: $grey-70;
			}

			@include desktop_small {
				grid-template-columns: 1fr;
				grid-template-areas:
					'column-1'
					'column-2'
					'table';
			}
		}
	}

	&__table {
		grid-area: table;
		border-collapse: collapse;
		text-align: left;
		display: flex;
		flex-direction: column;
		overflow-x: scroll;
    overflow-y: hidden;
		padding-bottom: 20px;

		li {
			display: flex;

			span {
				width: 20%;
				min-width: 200px;
				display: block;
				border-bottom: solid 1px $grey-70;
				border-left: solid 1px $grey-70;
				@include light-14-uppercase;
				color: $grey-70;
				padding: 10px;
				min-height: 100px;
				vertical-align: bottom;
				
				&:first-of-type {
					border-left: none;
				}
			}

			&:first-of-type {
				span {
					@include medium-18-uppercase;
					min-height: 47px;
					padding: 10px;
				}
			}
		}

		.red {
			border-bottom: solid 1px $red-50;
			border-left: solid 1px $red-50;
			color: $red-50;
		}
	}
}