.products {
	&__items {
		margin-top: 40px;
		display: flex;
		gap: 40px;
		min-height: 540px;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		width: auto;

		@include desktop_huge {
			width: 100%;
		}

		span:not(.children) {
			@include regular-32-uppercase;
			color: $grey-70;
			align-self: flex-start;
		}

		&_large {
			max-width: 760px;

			.products__image {
				max-width: unset;
				height: 400px;
			}
		}
	}

	&__image {
		width: 100%;
		transition: all $transitionDuration ease;
		max-width: 340px;
		height: 304px;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all $transitionDuration;
		}
	}
}