.products {	
	overflow: hidden;

	&__items {
		margin-top: 40px;
		display: flex;
		gap: 40px;
		min-height: 540px;
		justify-content: space-between;
		

		@include tablet {
			gap: 0;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		max-width: 340px;
		flex-shrink: 1;

		@include tablet {
			flex-shrink: 0;
			max-width: unset;
		}

		span:not(.children) {
			@include regular-32-uppercase;
			color: $grey-70;
			align-self: flex-start;

			@include tablet {
				@include regular-20-uppercase;
			}

			@include mobile {
				@include regular-16-uppercase;
			}
		}
		
		&_large {
			max-width: 700px;

			.products__image {
				height: 400px;
			}

			@include tablet {
				max-width: unset;
				.products__image {
					height: 300px;
				}
			}
		}
	}

	&__image {
		width: 100%;
		height: 300px;
		transition: all $transitionDuration ease;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all $transitionDuration;
		}
	}
}