* {
	@include FontFamilyInterRegular;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
	background-image: url(@icons/background.svg);
	display: flex;
	flex-direction: column;
  height: 100%;
}

main {
	flex: 1 0 auto;
	transition: all $transitionDuration;
}

h1 {
	span {
		@include bold-72-uppercase;
		color: $grey-70;

		@include tablet {
			@include bold-60-uppercase;
		}

		@include mobile {
			@include bold-36-uppercase;
		}
	}	
}

h2 {
	@include regular-20-uppercase;
	color: $grey-70;
}

h3 {
	@include bold-72-uppercase;

	@include tablet {
		@include bold-50-uppercase;
	}

	@include mobile {
		@include bold-36-uppercase;
	}
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
	height: fit-content;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;

	:disabled {
		cursor: default;
	}
}

* {
  scrollbar-width: thin;
  scrollbar-color: $red-50 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $red-50;
  border-radius: 20px;
  border: none;
}

.swiper-scrollbar-drag {
	background-color: $red-50;
}

.container {
	padding-left: 160px;
	padding-right: 160px;
	overflow-x: hidden;

	@include desktop_base {
		padding-left: 80px;
		padding-right: 80px;
	}

	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.line {
	height: 1px;
	margin: 40px 0 60px 0;
	background-color: $red-20;

	@include tablet {
		margin: 30px 0 60px 0;
	}

	@include mobile {
		margin: 30px 0 60px 0;
	}

	&_white {
		background-color:rgba(255,255,255,.7);
	}

	&_no-margin {
		margin: 0;
	}
}
