* {
	@include FontFamilyInterRegular;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	position: relative;
}

h1 {
	@include bold-72;
}

h2 {
	@include medium-32;
}

h3 {
	@include regular-20;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;

	:disabled {
		cursor: default;
	}
}