$transitionDuration: .7s;

$white: #FFFFFF;
$grey-4: #F5F5F5;
$grey-10: #E5E5E5;
$grey-20: #CCCCCC;
$grey-30: #B3B3B3;
$grey-40: #999999;
$grey-50: #808080;
$grey-60: #666666;
$grey-70: #4D4D4D;
$grey-80: #333333;
$grey-90: #1A1A1A;
$black: #000000;

$red-4: #F4D1CF;
$red-10: #ECB3AF;
$red-20: #E28D87;
$red-30: #D9675F;
$red-40: #CF4137;
$red-50: #C61B0F;
$red-60: #A5160C; 
$red-70: #84120A;
$red-80: #630D07;
$red-90: #420905;
$red-100: #280503;